/*--------------------------------------------*\
  A Float based variation of csswizardry-grids
\*--------------------------------------------*/
/**
 * CONTENTS
 * INTRODUCTION.........How the grid system works.
 * VARIABLES............Your settings.
 * MIXINS...............Library mixins.
 * GRID SETUP...........Build the grid structure.
 * WIDTHS...............Build our responsive widths around our breakpoints.
 * PUSH.................Push classes.
 * PULL.................Pull classes.
 */



/*------------------------------------*\
    $INTRODUCTION
\*------------------------------------*/
/**
 * Katarn grids provides you with widths to suit a number of breakpoints
 * designed around devices of a size you specify. Out of the box, Katarn
 * grids caters to the following types of device:
 *
 * palm     --  palm-based devices, like phones and small tablets
 * lap      --  lap-based devices, like iPads or laptops
 * portable --  all of the above
 * desk     --  stationary devices, like desktop computers
 *
 * These namespaces are then used in the library to give you the ability to
 * manipulate your layouts based around them, for example:
 *
   <div class="grid__item  one-whole  lap--one-half  desk--one-third">
 *
 * This would give you a grid item which is 100% width unless it is on a lap
 * device, at which point it become 50% wide, or it is on a desktop device, at
 * which point it becomes 33.333% width.
 *
 * Katarn grids also has push and pull classes which allow you to nudge
 * grid items left and right by a defined amount. These follow the same naming
 * convention as above, but are prepended by either `push--` or `pull--`, for
 * example:
 *
   `class="grid__item  one-half  push--one-half"`
 *
 * This would give you a grid item which is 50% width and pushed over to the
 * right by 50%.
 *
 * All classes in csswizardry grids follow this patten, so you should fairly
 * quickly be able to piece together any combinations you can imagine, for
 * example:
 *
   `class="grid__item  one-whole  lap--one-half  desk--one-third  push--desk--one-third"`
 *
   `class="grid__item  one-quarter  palm--one-half  push--palm--one-half"`
 *
   `class="grid__item  palm--one-third  desk--five-twelfths"`
 */



/*------------------------------------*\
   $VARIABLES
\*------------------------------------*/

$gutter: 20px !default;

$breakpoints: (
  'palm' '(max-width: 480px)',
  'lap' '(min-width: 481px) and (max-width: 1023px)',
  'portable' '(max-width: 1023px)',
  'desk' '(min-width: 1024px)'
) !default;

$breakpoint-has-widths: ('palm', 'lap', 'portable', 'desk') !default;



/*------------------------------------*\
    $MIXINS
\*------------------------------------*/

@mixin grid-media-query($media-query) {
  $breakpoint-found: false;

  @each $breakpoint in $breakpoints {
    $name: nth($breakpoint, 1);
    $declaration: nth($breakpoint, 2);

    @if $media-query == $name and $declaration {
      $breakpoint-found: true;

      @media only screen and #{$declaration} {
        @content;
      }
    }
  }

  @if not $breakpoint-found {
    @warn "Breakpoint '#{$media-query}' does not exist";
  }
}

@mixin column($fraction: 1) {
  width: $fraction * 100%;
}

@mixin push($fraction: 1) {
  left: $fraction * 100%;
}

@mixin pull($fraction: 1) {
  right: $fraction * 100%;
}



/*------------------------------------*\
    $GRID SETUP
\*------------------------------------*/

.grid {
  margin-left: -$gutter;

  &:after,
  &:before {
    content: ' ';
    display: table;
  }

  &:after {
    display: table;
  }

  &__item {
    padding-left: $gutter;
    width: 100%;
    float: left;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  &--full {
    margin-left: 0;

    > .grid__item {
      padding-left: 0;
    }
  }

  &--narrow {
    margin-left: -($gutter / 2);

    > .grid__item {
        padding-left: $gutter / 2;
    }
  }

  &--wide {
    margin-left: -($gutter * 2);

    > .grid__item {
      padding-left: $gutter * 2;
    }
  }
}



/*------------------------------------*\
    $WIDTHS
\*------------------------------------*/

@mixin device-type($namespace: '') {
  $prefix: '.#{$namespace}';

  // Whole
  #{$prefix}one-whole       { @include column(); }

  // Halves
  #{$prefix}one-half        { @include column(1/2); }

  // Thirds
  #{$prefix}one-third       { @include column(1/3); }
  #{$prefix}two-thirds      { @include column(2/3); }

  // Quarters
  #{$prefix}one-quarter     { @include column(1/4); }
  #{$prefix}two-quarters    { @extend #{$prefix}one-half; }
  #{$prefix}three-quarters  { @include column(3/4); }

  // Fifths
  #{$prefix}one-fifth       { @include column(1/5); }
  #{$prefix}two-fifths      { @include column(2/5); }
  #{$prefix}three-fifths    { @include column(3/5); }
  #{$prefix}four-fifths     { @include column(4/5); }

  // Sixths
  #{$prefix}one-sixth       { @include column(1/6); }
  #{$prefix}two-sixths      { @extend #{$prefix}one-third; }
  #{$prefix}three-sixths    { @extend #{$prefix}one-half; }
  #{$prefix}four-sixths     { @extend #{$prefix}two-thirds; }
  #{$prefix}five-sixths     { @include column(5/6); }

  // Eighths
  #{$prefix}one-eighth      { @include column(1/8); }
  #{$prefix}two-eighths     { @extend #{$prefix}one-quarter; }
  #{$prefix}three-eighths   { @include column(3/8); }
  #{$prefix}four-eighths    { @extend #{$prefix}one-half; }
  #{$prefix}five-eighths    { @include column(5/8); }
  #{$prefix}six-eighths     { @extend #{$prefix}three-quarters; }
  #{$prefix}seven-eighths   { @include column(7/8); }

  // Tenths
  #{$prefix}one-tenth       { @include column(1/10); }
  #{$prefix}two-tenths      { @extend #{$prefix}one-fifth; }
  #{$prefix}three-tenths    { @include column(3/10); }
  #{$prefix}four-tenths     { @extend #{$prefix}two-fifths; }
  #{$prefix}five-tenths     { @extend #{$prefix}one-half; }
  #{$prefix}six-tenths      { @extend #{$prefix}three-fifths; }
  #{$prefix}seven-tenths    { @include column(7/10); }
  #{$prefix}eight-tenths    { @extend #{$prefix}four-fifths; }
  #{$prefix}nine-tenths     { @include column(9/10); }

  // Twelfths
  #{$prefix}one-twelfth     { @include column(1/12); }
  #{$prefix}two-twelfths    { @extend #{$prefix}one-sixth; }
  #{$prefix}three-twelfths  { @extend #{$prefix}one-quarter; }
  #{$prefix}four-twelfths   { @extend #{$prefix}one-third; }
  #{$prefix}five-twelfths   { @include column(5/12); }
  #{$prefix}six-twelfths    { @extend #{$prefix}one-half; }
  #{$prefix}seven-twelfths  { @include column(7/12); }
  #{$prefix}eight-twelfths  { @extend #{$prefix}two-thirds; }
  #{$prefix}nine-twelfths   { @extend #{$prefix}three-quarters; }
  #{$prefix}ten-twelfths    { @extend #{$prefix}five-sixths; }
  #{$prefix}eleven-twelfths { @include column(11/12); }
}

@include device-type;

@each $name in $breakpoint-has-widths {
  @include grid-media-query($name) {
    @include device-type('#{$name}--');
  }
}



/*------------------------------------*\
    $PUSH
\*------------------------------------*/

@mixin push-setup($namespace: '') {
  $prefix: '.push--#{$namespace}';

  // Whole
  #{$prefix}one-whole       { @include push(); }

  // Halves
  #{$prefix}one-half        { @include push(1/2); }

  // Thirds
  #{$prefix}one-third       { @include push(1/3); }
  #{$prefix}two-thirds      { @include push(2/3); }

  // Quarters
  #{$prefix}one-quarter     { @include push(1/4); }
  #{$prefix}two-quarters    { @extend #{$prefix}one-half; }
  #{$prefix}three-quarters  { @include push(3/4); }

  // Fifths
  #{$prefix}one-fifth       { @include push(1/5); }
  #{$prefix}two-fifths      { @include push(2/5); }
  #{$prefix}three-fifths    { @include push(3/5); }
  #{$prefix}four-fifths     { @include push(4/5); }

  // Sixths
  #{$prefix}one-sixth       { @include push(1/6); }
  #{$prefix}two-sixths      { @extend #{$prefix}one-third; }
  #{$prefix}three-sixths    { @extend #{$prefix}one-half; }
  #{$prefix}four-sixths     { @extend #{$prefix}two-thirds; }
  #{$prefix}five-sixths     { @include push(5/6); }

  // Eighths
  #{$prefix}one-eighth      { @include push(1/8); }
  #{$prefix}two-eighths     { @extend #{$prefix}one-quarter; }
  #{$prefix}three-eighths   { @include push(3/8); }
  #{$prefix}four-eighths    { @extend #{$prefix}one-half; }
  #{$prefix}five-eighths    { @include push(5/8); }
  #{$prefix}six-eighths     { @extend #{$prefix}three-quarters; }
  #{$prefix}seven-eighths   { @include push(7/8); }

  // Tenths
  #{$prefix}one-tenth       { @include push(1/10); }
  #{$prefix}two-tenths      { @extend #{$prefix}one-fifth; }
  #{$prefix}three-tenths    { @include push(3/10); }
  #{$prefix}four-tenths     { @extend #{$prefix}two-fifths; }
  #{$prefix}five-tenths     { @extend #{$prefix}one-half; }
  #{$prefix}six-tenths      { @extend #{$prefix}three-fifths; }
  #{$prefix}seven-tenths    { @include push(7/10); }
  #{$prefix}eight-tenths    { @extend #{$prefix}four-fifths; }
  #{$prefix}nine-tenths     { @include push(9/10); }

  // Twelfths
  #{$prefix}one-twelfth     { @include push(1/12); }
  #{$prefix}two-twelfths    { @extend #{$prefix}one-sixth; }
  #{$prefix}three-twelfths  { @extend #{$prefix}one-quarter; }
  #{$prefix}four-twelfths   { @extend #{$prefix}one-third; }
  #{$prefix}five-twelfths   { @include push(5/12); }
  #{$prefix}six-twelfths    { @extend #{$prefix}one-half; }
  #{$prefix}seven-twelfths  { @include push(7/12); }
  #{$prefix}eight-twelfths  { @extend #{$prefix}two-thirds; }
  #{$prefix}nine-twelfths   { @extend #{$prefix}three-quarters; }
  #{$prefix}ten-twelfths    { @extend #{$prefix}five-sixths; }
  #{$prefix}eleven-twelfths { @include push(11/12); }
}

[class*="push--"] { position:relative; }

@include push-setup;

@each $name in $breakpoint-has-widths {
  @include grid-media-query($name) {
    @include push-setup('#{$name}--');
  }
}



/*------------------------------------*\
    $PUSH
\*------------------------------------*/

@mixin pull-setup($namespace: '') {
  $prefix: '.pull--#{$namespace}';

  // Whole
  #{$prefix}one-whole       { @include pull(); }

  // Halves
  #{$prefix}one-half        { @include pull(1/2); }

  // Thirds
  #{$prefix}one-third       { @include pull(1/3); }
  #{$prefix}two-thirds      { @include pull(2/3); }

  // Quarters
  #{$prefix}one-quarter     { @include pull(1/4); }
  #{$prefix}two-quarters    { @extend #{$prefix}one-half; }
  #{$prefix}three-quarters  { @include pull(3/4); }

  // Fifths
  #{$prefix}one-fifth       { @include pull(1/5); }
  #{$prefix}two-fifths      { @include pull(2/5); }
  #{$prefix}three-fifths    { @include pull(3/5); }
  #{$prefix}four-fifths     { @include pull(4/5); }

  // Sixths
  #{$prefix}one-sixth       { @include pull(1/6); }
  #{$prefix}two-sixths      { @extend #{$prefix}one-third; }
  #{$prefix}three-sixths    { @extend #{$prefix}one-half; }
  #{$prefix}four-sixths     { @extend #{$prefix}two-thirds; }
  #{$prefix}five-sixths     { @include pull(5/6); }

  // Eighths
  #{$prefix}one-eighth      { @include pull(1/8); }
  #{$prefix}two-eighths     { @extend #{$prefix}one-quarter; }
  #{$prefix}three-eighths   { @include pull(3/8); }
  #{$prefix}four-eighths    { @extend #{$prefix}one-half; }
  #{$prefix}five-eighths    { @include pull(5/8); }
  #{$prefix}six-eighths     { @extend #{$prefix}three-quarters; }
  #{$prefix}seven-eighths   { @include pull(7/8); }

  // Tenths
  #{$prefix}one-tenth       { @include pull(1/10); }
  #{$prefix}two-tenths      { @extend #{$prefix}one-fifth; }
  #{$prefix}three-tenths    { @include pull(3/10); }
  #{$prefix}four-tenths     { @extend #{$prefix}two-fifths; }
  #{$prefix}five-tenths     { @extend #{$prefix}one-half; }
  #{$prefix}six-tenths      { @extend #{$prefix}three-fifths; }
  #{$prefix}seven-tenths    { @include pull(7/10); }
  #{$prefix}eight-tenths    { @extend #{$prefix}four-fifths; }
  #{$prefix}nine-tenths     { @include pull(9/10); }

  // Twelfths
  #{$prefix}one-twelfth     { @include pull(1/12); }
  #{$prefix}two-twelfths    { @extend #{$prefix}one-sixth; }
  #{$prefix}three-twelfths  { @extend #{$prefix}one-quarter; }
  #{$prefix}four-twelfths   { @extend #{$prefix}one-third; }
  #{$prefix}five-twelfths   { @include pull(5/12); }
  #{$prefix}six-twelfths    { @extend #{$prefix}one-half; }
  #{$prefix}seven-twelfths  { @include pull(7/12); }
  #{$prefix}eight-twelfths  { @extend #{$prefix}two-thirds; }
  #{$prefix}nine-twelfths   { @extend #{$prefix}three-quarters; }
  #{$prefix}ten-twelfths    { @extend #{$prefix}five-sixths; }
  #{$prefix}eleven-twelfths { @include pull(11/12); }
}

[class*="pull--"] { position:relative; }

@include pull-setup;

@each $name in $breakpoint-has-widths {
  @include grid-media-query($name) {
    @include pull-setup('#{$name}--');
  }
}
